<% if current_user %>

<h3>Welcome: <%= current_user.email %></h3>

<% else %>

<div class="jumbotron">

<h2>Welcome</h2>

<p class="lead">



</p>

</div>

<div class="row">

<div class="plans clearfix">

<div class="col-lg-3 col-lg-offset-3 plan">

<h2>Event Host</h2>

<div class="price pull-right">



</div>

<div class="features">

<ul>

<li>Need a Planner</li>

<li>Part</li>

<li>Access anywhere</li>

</ul>

</div>

<p>

<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>

</p>

</div>

<div class="col-lg-3 plan">

<h2>Event Manager</h2>

<div class="price pull-right">


</div>

<div class="features">

<ul>

<li>Register</li>

<li>Submit</li>



<li class='extra'>Event day</li>

</ul>

</div>

<p>

<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>

</p>

</div>

</div>

</div>

<% end %>
