<div class="container">
  <footer class="footer">
    <small>
      copyright &copy; <a href="https://www.techtolife.co.za">Tech To Life Pty Ltd</a>
      by <a href="https://www.meshackmaphoso.co.za">Meshack Maphoso</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About","#"%></li>
      </ul>
      </nav>
    </footer>
  </div>
